<div class="footer">
      <footer id="footer">
        <div class="container">
          <div class="row py-5 my-4">
            <div class="col">
              <h5 class="titre1 text-3 mb-3">Pour la petite histoire</h5>
              <p class="titre1" text-align:justify>Ton Apéro est un concept qui s'est pensé à plusieurs:
                Daniel, Thibault, Mickaël et Ophélie en avaient marre de siroter leurs rhums et leurs vins durant
                le confinement et avaient envie de leurs cocktails hebdomadaires.
                Seulement les propositions de livraisons étaient minces.
                Ils ont donc eu l'idée de monter un site pour mettre en relation
                les bars et les envies de dernière minute.</p>
            </div>
            <div class="col">
              <div class="footer-contact">
                <a href="{#{{ path('contact') }}#}">
                  <h5 class="titre1 mb-3">Contactez-nous</h5>
                </a>
                <p class="titre1">
                  Chez MIMI'S<br>
                  53970 L'HUISSERIE<br>
                  tel: 07.80.36.38.03<br>
                  Siren 888 790 748<br>
                  matthieupm@hotmail.fr
                </p>
              </div>
            </div>
            <div class="col">
              <ul class="footer-description">
                <div class="footer-title"><a href="{#{{ path('app_login') }}#}">Mon compte</a></div>
                <div class="footer-title"><a href="{#{{ path('cgv') }}#}">Conditions Générales de Ventes</a>
                </div>
                <div class="titre1">Horaires d'ouvertures</div>
                <p class="titre"> Ouvert en continu<br>
                  Du mardi au samedi de 9H30 à 16H00
                </p>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container1 py-2">
            <div class="row py-4">
              <div class="col align-items-center">
                <p class="titre1">© 2020 Ton Apero All rights reserved</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    </footer>