{% extends 'base.html.twig' %}

{% block title %}Accueil du site{% endblock %}

{% block body %}
<div class="container-accueil">
<div class="cadre-accueil">
<p class="text-accueil">Mimi GALETTE propose des spécialités Locales dans le département de la Mayenne.</p>

<p class="text-accueil">Des Galettes 100 % Sarasin (blé noir, sans gluten) et des crêpes de froment sucrées.</p>
</div>
<div class="cadre-accueil2">
<p class="text-accueil2">MIMI GALETTE peut également se privatiser  pour des évenements chez les particuliers ( mariage, anniversaire, baptême, communion, brunch, crêpe party...) ou dans les entreprises (CE, réunions , etc...).</p>
</div>
</div>
{% endblock %}
